extends layout

block content
  div#game_container
    h1 Vanishing Blocks
    button#new_game New Game
    br
    br
    canvas#game_surface(width='500', height='500')
    br
    div#time_left
      p Time left:
        span 1:00
    div#score 
      p Score:
        span 0
